name: CI

on:
  schedule:
    - cron: 0 0 1 * *
  push:
  pull_request:

jobs:
  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt

      - name: "`cargo fmt --all -- --check`"
        run: cargo fmt --all -- --check

  build:
    strategy:
      fail-fast: false
      matrix:
        channel:
          - 1.70.0
          - stable
          - beta
        target_triple:
          - x86_64-pc-windows-msvc
          - x86_64-pc-windows-gnu
          - x86_64-apple-darwin
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
        include:
          - channel: 1.70.0
            target_triple: x86_64-pc-windows-msvc
            host_triple: x86_64-pc-windows-msvc
            os: windows-latest
          - channel: 1.70.0
            target_triple: x86_64-pc-windows-gnu
            host_triple: x86_64-pc-windows-gnu
            os: windows-latest
          - channel: 1.70.0
            target_triple: x86_64-apple-darwin
            host_triple: x86_64-apple-darwin
            os: macOS-latest
          - channel: 1.70.0
            target_triple: x86_64-unknown-linux-gnu
            host_triple: x86_64-unknown-linux-gnu
            os: ubuntu-24.04
          - channel: 1.70.0
            target_triple: x86_64-unknown-linux-musl
            host_triple: x86_64-unknown-linux-gnu
            os: ubuntu-24.04
          - channel: stable
            target_triple: x86_64-pc-windows-msvc
            host_triple: x86_64-pc-windows-msvc
            os: windows-latest
          - channel: stable
            target_triple: x86_64-pc-windows-gnu
            host_triple: x86_64-pc-windows-gnu
            os: windows-latest
          - channel: stable
            target_triple: x86_64-apple-darwin
            host_triple: x86_64-apple-darwin
            os: macOS-latest
          - channel: stable
            target_triple: x86_64-unknown-linux-gnu
            host_triple: x86_64-unknown-linux-gnu
            os: ubuntu-24.04
          - channel: stable
            target_triple: x86_64-unknown-linux-musl
            host_triple: x86_64-unknown-linux-gnu
            os: ubuntu-24.04
          - channel: beta
            target_triple: x86_64-pc-windows-msvc
            host_triple: x86_64-pc-windows-msvc
            os: windows-latest
          - channel: beta
            target_triple: x86_64-pc-windows-gnu
            host_triple: x86_64-pc-windows-gnu
            os: windows-latest
          - channel: beta
            target_triple: x86_64-apple-darwin
            host_triple: x86_64-apple-darwin
            os: macOS-latest
          - channel: beta
            target_triple: x86_64-unknown-linux-gnu
            host_triple: x86_64-unknown-linux-gnu
            os: ubuntu-24.04
          - channel: beta
            target_triple: x86_64-unknown-linux-musl
            host_triple: x86_64-unknown-linux-gnu
            os: ubuntu-24.04

    name: ${{ matrix.channel }}-${{ matrix.target_triple }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: "`sudo apt-get install musl-tools`"
        run: sudo apt-get install musl-tools
        if: matrix.target_triple == 'x86_64-unknown-linux-musl'

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.channel }}-${{ matrix.host_triple }}
          targets: ${{ matrix.target_triple }}
          components: clippy

      - name: "`cargo clippy --workspace --all-targets --all-features --target ${{ matrix.target_triple }} -v -- -D warnings`"
        run: cargo clippy --workspace --all-targets --all-features --target ${{ matrix.target_triple }} -v -- -D warnings

      - name: "`cargo test --no-fail-fast --workspace --all-features --target ${{ matrix.target_triple }} -v`"
        run: cargo test --no-fail-fast --workspace --all-features --target ${{ matrix.target_triple }} -v
